@font-face{
	font-family: "Dotmatrix";
	src: url("../Styles/dot_matrix/DOTMATRI.ttf") format("truetype");
}

body {
    position: relative;
    min-width: 1360px;
    background-color: black;
    font-family: "Asap";
}

.row canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    z-index: 20;
    background-color: black;
}

.row {
	padding-top: 10px;
}

#img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 769px;
	width: 1025px;
	z-index: -3;
	min-width: 780px;
}

.centered-el {
	color: white;
	font-size: 40px;
	z-index: 20;
	background-color: black;
	border-radius: 25px;
	text-align: center;
	font-family: "Dotmatrix";
	max-width: 780px;
}

form, select, button, input, p {
	background-color: black;
	color: white;
	border-radius: 15px;
	width: 80px;
}

#start-game, #stop-game {
	color: #00CF00;
	font-size: 28px;
	height: 50px;
}

#moveStyle {
	z-index: 21;
	font-size: 18px;
	background-color: #66FF33;
	color: #FF0000;
	border-color: #FF0000;
	border-width: 3px;
	width: 175px;
	display: inline-block;
}

#explo-range {
	width: 42px;
	position: relative;
	left: 12px;
	border-radius: 10px;
	border-width: 1px;
	text-align: center;
}

.letItSnow {
	background-color: #66FF33;
	color: #FF0000;
	font-size: 14px;
	font-weight: bold;
}

.fa-play, .fa-pause {
	position: relative;
	display: none;
	cursor: pointer;
	padding-top: 10px;
	left: 75px;
	height: 50px;
	color: #66FF33;
}

.play-pause-btn {
	height: 50px;
	width: 100%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main-canvas {
	width: 54.5%;
	min-width: 720px;
	display: inline-block;
}

.btn-margin {
	margin-top: 10px;
}

button.reset {
	/* display: none; */
	position: relative;
	top: 10px;
	background-color: black;
	color: white;
}

p#gen-counter {
	font-size: 20px;
	width: 550px;
}

#pound-sgn {
	font-size: 22px;
	position: relative;
	top: 3px;
}

.right-column, .left-column {
	width: 22.5%;
	display: inline-block;
	vertical-align: top;
}

#button-wrapper-right {
	width: 100%;
}

.dropDowns {
	width: 42px;
}

.dropDownsLeft {
	float: right;
}


#explo-text {
	background-color: black;
	color: white;
	font-size: 16px;
	width: 120px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 0px;
}

.fa-warning {
	color: red;
}

#draw-pacman-btn {
	margin-top: 0px;
}

p#drawCheckText {
	width: 88%;
	font-size: 17px;
	text-align: center;
	position: relative;
	left: 12px;
}


i#drawCheck, #drawCheckMark {
    background-color: transparent;
    cursor: pointer;
    color:  white;
    position: relative;
    left: 50%;
    margin-left: -9px;
    display: inline-block;
}

i#drawCheck {
    display: none;
}

#patternDraw {
	padding-left: 0px;
	padding-right: 0px;
	width: 220px;
}

#splashScreen{
	z-index: 50;
	display: block;
	position: absolute;
	text-align: center;
	width: 900px;
	top: 30%;
	left: 50%;
	margin-left: -450px;
	color: #FFFFFF;
	background-color: black;
	display: none;
}

#helpBackground {
	position: absolute;
	width: 100%;
	height: 800px;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.80;
	display: none;
	z-index: 2;
}

#introduceLink, #introduceLink:hover {
	text-decoration: none;
	color: #0EB510;
}

#snakeSelect{
	-webkit-appearance: slider-vertical;
	height: 73px;
	width: 20px;
	position: relative;
	left: 20px;
	top: 5px;
}

#sliderWrap{
	width: 125px;
	position: relative;
	top: 10px;
	padding-bottom: 10px;
}

#sliderText{
	width: 125px;
	padding: 0px;
	margin: 0px;
}

.slider{
	float: left;
	padding-left: 5px;
}

p#snakeHeader {
    width: 125px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-left: 15px;
}

#virusThrottle{
	color: #b8008a;
	width: 41px;
	height: 22px;
	position: relative;
	border-radius: 10px;
	border-width: 1px;
	text-align: center;
	left: -44px;
	top: 22px;
}

select#draw-infected-num {
    position: relative;
    top: -3px;
}

p.slider1.slider {
    width: 85px;
}

p.slider1 {
    width: 85px;
}

h3#splashText {
	font-family: "Dotmatrix";
}

div#songChoice {
    float: left;
}

div {}

div#songList {
    /* float:  right; */
    width: 80px;
    display: none;
}

div#changeSong {
    display: none;
}

div#goHome {
    width: 80px;
    margin-top: 10px;
    display: none;
}

#change-song-select{
	width: 100px;
}