body {
    position: relative;
    min-width: 952px;
    background-color: black;
    font-family: "Asap";
}

.row canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    z-index: 20;
    background-color: black;
}

.row {
	padding-top: 10px;
}

#img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 769px;
	width: 1025px;
	z-index: -3;
	min-width: 780px;
}

.centered-el {
	color: white;
	font-size: 40px;
	z-index: 20;
	background-color: black;
	border-radius: 25px;
	text-align: center;
	font-family: "Dotmatrix";
	max-width: 780px;
}

form, select, button, input {
	background-color: black;
	color: white;
	border-radius: 15px;
	width: 80px;
}

#start-game, #stop-game {
	color: #00CF00;
	font-size: 28px;
	height: 50px;
}

#moveStyle {
	z-index: 21;
	font-size: 18px;
	background-color: #66FF33;
	color: #FF0000;
	border-color: #FF0000;
	border-width: 3px;
	width: 175px;
	display: inline-block;
}

#explo-range {
	width: 42px;
	position: relative;
	left: 12px;
	border-radius: 10px;
	text-align: center;
}

.letItSnow {
	background-color: #66FF33;
	color: #FF0000;
	font-size: 14px;
	font-weight: bold;
}

.fa-play, .fa-pause {
	position: relative;
	display: none;
	cursor: pointer;
	padding-top: 10px;
	left: 75px;
	height: 50px;
}

.play-pause-btn {
	height: 50px;
	width: 100%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main-canvas {
	width: 54.5%;
	min-width: 720px;
	display: inline-block;
}

.btn-margin {
	margin-top: 10px;
}

button.reset {
	display: none;
	position: relative;
	left: 45px;
	background-color: black;
	color: white;
}

p#gen-counter {
	font-size: 16px;
	width: 550px;
}

#pound-sgn {
	font-size: 22px;
	position: relative;
	top: 3px;
}

.right-column, .left-column {
	width: 22.5%;
	display: inline-block;
	vertical-align: top;
}

#button-wrapper-right {
	width: 100%;
}

.dropDowns {
	width: 42px;
}

.dropDownsLeft {
	float: right;
}


#explo-text {
	background-color: black;
	color: white;
	font-size: 16px;
	width: 120px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 0px;
}

.fa-warning {
	color: red;
}

#draw-pacman-btn {
	margin-top: 0px;
}
